<p style="color: green"><%= notice %></p>

<%= render @utente %>

<div>
  <%= link_to "Edit this utente", edit_utente_path(@utente) %> |
  <%= link_to "Back to utentes", utentes_path %>

  <%= button_to "Destroy this utente", @utente, method: :delete %>
</div>
