<div id="<%= dom_id utente %>">
  <p>
    <strong>Cognome:</strong>
    <%= utente.cognome %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= utente.created_at %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= utente.id %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= utente.mail %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= utente.nome %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= utente.username %>
  </p>

</div>
