<p style="color: green"><%= notice %></p>

<%= render @checkpoint %>

<div>
  <%= link_to "Edit this checkpoint", edit_checkpoint_path(@checkpoint) %> |
  <%= link_to "Back to checkpoints", checkpoints_path %>

  <%= button_to "Destroy this checkpoint", @checkpoint, method: :delete %>
</div>
