<div id="<%= dom_id user%>">
  <p>
    <strong>Cognome:</strong>
    <%= user.cognome %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= user.created_at %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= user.id %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= user.mail %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= user.nome %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

</div>
