<p style="color: green"><%= notice %></p>

<%= render @request %>

<div>
  <%= link_to "Edit this request", edit_project_request_path(project_id: @project.id, id: @request.id) %> |
  <%= link_to "Back to requests", project_requests_path(project_id: @project.id) %>

  <%= button_to "Destroy this request", project_requests_path(project_id: @project.id), method: :delete %>
</div>
