<p style="color: green"><%= notice %></p>

<%= render @request %>

<div>
  <%= link_to "Edit this request", edit_project_request_path(@request) %> |
  <%= link_to "Back to requests", project_request_path %>

  <%= button_to "Cancella la tua richiesta", @request, method: :delete %>
</div>
