<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :dimensione, style: "display: block" %>
    <%= form.collection_select(:dimensione, [2, 3, 4, 5, 6], :itself, :itself) %>
  </div>

  <div>
    <%= form.label :info_leader, style: "display: block" %>
    <%= form.text_field :info_leader %>
  </div>


  <div>
    <%= form.label :descrizione, style: "display: block" %>
    <%= form.text_field :descrizione %>
  </div>

  <div>
    <%= form.label :ambiti, style: "display: block" %>
    <%= form.collection_select(:ambiti, @fields, :id, :nome, {}, {:multiple => true}) %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
