<div id="<%= dom_id project %>">
  <p>
    <strong>Id project:</strong>
    <%= project.id_progetto %>
  </p>

  <p>
    <strong>Info leader:</strong>
    <%= project.info_leader %>
  </p>

  <p>
    <strong>Dimensione:</strong>
    <%= project.dimensione %>
  </p>

  <p>
    <strong>Descrizione:</strong>
    <%= project.descrizione %>
  </p>

  <p>
    <strong>Stato:</strong>
    <%= project.stato %>
  </p>

</div>
