<h1>Progetti aperti riguardo i tuoi ambiti d’interesse</h1>
<div data-controller="project-sort">
  <label for="sort_by">Ordina per:</label>
    <select name="sort_by" id="sort_by" data-action="project-sort#update" data-project-sort-target="select">
      <option></option>
      <option value="time_posted" <%= 'selected' if params[:sort_by] == 'time_posted' %> >Più recenti</option>
      <option value="time_posted_reverse" <%= 'selected' if params[:sort_by] == 'time_posted_reverse' %> >Meno recenti</option>
      <option value="members" <%= 'selected' if params[:sort_by] == 'members' %> >Numero membri (crescente)</option>
      <option value="members_reverse" <%= 'selected' if params[:sort_by] == 'members_reverse' %> >Numero membri (decrescente)</option>
    </select>
</div>
<%= form_tag(projects_path, method: :get) do %>
  <%= label_tag :filter_by, "Seleziona un campo:" %>
  <%= select_tag :filter_by, options_for_select([["Tutti", "all"]] + Field.all.map { |fie| [fie.nome, fie.id] }) %>
  <%= submit_tag "Filtra" %>
<% end %>
<%= render "projects/projects", projects: @projects %>
<div id="segnalazione">
  <%= link_to "Manda una segnalazione", new_report_path%>
</div>


