
<body>
<div id="open-projects" class="container mt-5">
  <h2 class="mb-4">Progetti aperti:</h2>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @projects.each do |project| %>
      <% if project.stato == "aperto" %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= project.name %></h5>
              <p class="card-text"><%= project.descrizione %></p>
              <p class="card-text">Numero membri: <%= UserProject.where(:project_id => project.id).count %></p>
              <p class="card-text">
                <% project.fields.each do |field| %>
                  <span class="badge bg-primary me-1"><%= field.nome %></span>
                <% end %>
              </p>
              <a href="<%= project_path(project.id) %>" class="btn btn-primary">Show this project</a>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

