
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Chat Example</title>

<body>
<h1><%= @project.name %></h1>
<% if @project.checkpoints.present? %>
  <% @project.checkpoints.each do |checkpoint| %>
    <tr>
      <td><%= checkpoint.nome %></td>
      <td> <%= link_to "Show this checkpoint", user_project_checkpoint_path(user_id: @user.id, project_id: @project.id, id: checkpoint.id) %> </td>
      <% if @role == "leader" and @project.stato == "iniziato" and !checkpoint.completato %>
        <td>
          <%= button_to user_project_checkpoint_change_state_path(user_id: @user.id, project_id: @project.id, checkpoint_id: checkpoint.id),
                        method: :put,
                        class: "btn btn-outline-primary btn-sm",
                        title: "Segna come completato",
                        data: { confirm: "Are you sure?" , turbo_confirm: "Sei sicuro di segnare questo checkpoint come completato?" } do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
              <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
            </svg>
          <% end %>
        </td>
      <% end %>
    </tr>
    <br>


<% end %>
<% else %>
  <tr>
    <td colspan="4">No checkpoints available.</td>
  </tr>
<% end %>
<% if @role == "leader" and @project.stato == "iniziato"%>
    <br>
  <%= link_to "Add a new checkpoint", new_user_project_checkpoint_path(user_id: @user.id, project_id: @project.id), class: "btn btn-custom-center" %>
<% end %>

<div class="chat-project">
  <div class="chat-container">
    <div class="chat-log" id="chat-log">
      <% @messages.each do |message| %>
        <div class="message">
          <%= User.find(message.user_id).username %>: <%= message.content %>
        </div>
      <% end %>
    </div>
    <%= form_with model: [@user, @project, @chat, Message.new ], local: false, id: "ajax-form" do |form| %>
      <%= form.text_field :content, id: 'message-input', placeholder: 'Type your message...' %>
      <%= form.submit 'Send', id: 'send-button' %>
    <% end %>

  </div>

  <div class="project-container bg-light p-4">
    <h2 class="mb-3">Project Infos</h2>
    <p><%=@project.descrizione %></p>
    <p><%=@project.stato %></p>
    <div class="github-link">
      <button style="font-size: 18px; border-radius: 30px;">Open with GitHub <i class="fa fa-github"></i></button>
    </div>
    <br>
    <% if @role == "leader" %>

      <% if @project.stato == "aperto" %>
        <%= button_to "Chiudi richieste di partecipazione", user_project_close_requests_path, method: :put, data: { turbo_confirm: "Sei sicuro di voler chiudere le richieste di partecipazione?" } %> <br>
      <% end %>

      <% if @project.stato == "iniziato" %>
        <%= button_to "Chiudi progetto", user_project_close_project_path, method: :put, data: { turbo_confirm: "Sei sicuro di voler chiudere questo progetto?" }  %> <br>
      <% end %>

    <% end %>
    <%= link_to "Torna ai miei progetti", my_projects_user_projects_path, class: "btn btn-custom-center" %>
  </div>
</div>


<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Membri del Progetto</h2>
      <ul class="list-group">
        <% @members.each do |member| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= member.email %>
            <% if @role == "leader" and member.id != current_user.id and @project.stato != "chiuso" %>
              <%= button_to "Espelli", user_project_espelli_membro_path(user_id: @user.id, project_id: @project.id, member_id: member.id), method: :put, data: { confirm: "Are you sure?" , turbo_confirm: "Sei sicuro di voler espellere questo membro?" } %>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>






<script>
    var objDiv = document.getElementById("chat-log");
    objDiv.scrollTop = objDiv.scrollHeight;
</script>

</body>

