<!DOCTYPE html>
<html>
<head>
  <title>Cool Project View</title>

</head>
<body>

<div class="project-container">

  <% if @project %>
    <h3>Descrizione</h3>
    <p class="project-description"><%= @project.descrizione %></p>
    <h3>Dimensione</h3>
    <p class="project-description"><%= @project.dimensione %></p>
    <h3>Informazioni Leader</h3>
    <p class="project-description"><span class="project-leader"><%= @project.info_leader %></span></p>
    <h3>Ambiti</h3>
    <p class="project-description">
      <% @project.fields.each do |field|%>
        <%= field.nome %> <br>
      <% end %>
    </p>
  <% else %>
    <p class="project-description">No project found.</p>
  <% end %>
  <%= link_to "Richiedi di partecipare", new_project_request_path(@project) %>
</div>

<%= link_to "Back to projects", projects_path, class: "back-button" %>

<!-- Admin Only
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= button_to "Destroy this project", @project, method: :delete %>
  -->

</body>
</html>
