<%= form_with(model: progetto) do |form| %>
  <% if progetto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(progetto.errors.count, "error") %> prohibited this progetto from being saved:</h2>

      <ul>
        <% progetto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :id_progetto, style: "display: block" %>
    <%= form.text_field :id_progetto %>
  </div>

  <div>
    <%= form.label :info_leader, style: "display: block" %>
    <%= form.text_field :info_leader %>
  </div>

  <div>
    <%= form.label :dimensione, style: "display: block" %>
    <%= form.text_field :dimensione %>
  </div>

  <div>
    <%= form.label :descrizione, style: "display: block" %>
    <%= form.text_field :descrizione %>
  </div>

  <div>
    <%= form.label :stato, style: "display: block" %>
    <%= form.text_field :stato %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
