<div id="<%= dom_id progetto %>">
  <p>
    <strong>Id progetto:</strong>
    <%= progetto.id_progetto %>
  </p>

  <p>
    <strong>Info leader:</strong>
    <%= progetto.info_leader %>
  </p>

  <p>
    <strong>Dimensione:</strong>
    <%= progetto.dimensione %>
  </p>

  <p>
    <strong>Descrizione:</strong>
    <%= progetto.descrizione %>
  </p>

  <p>
    <strong>Stato:</strong>
    <%= progetto.stato %>
  </p>

</div>
