<head>
  <title>SignUp</title>
</head>
<body>
<div class="container py-5">
  <div class="row mb-2 mt-2">
    <div class="col-6 text-center mx-auto">
      <h2 class="login-title">Sign Up</h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body text-center d-flex flex-column align-items-center">
          <div class="bs-icon bs-icon-circle bs-icon-color shadow my-4">
            <svg class="bi bi-person-plus-fill" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
              <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
              <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"></path>
            </svg>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>
            <div class="field">
              <%= f.label :email, class: "form-text" %>
              <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", class: "form-field mb-3" %>
            </div>
            <div class="field">
              <%= f.label :username, class: "form-text" %>
              <%= f.text_field :username, required: true, autocomplete: "username", class: "form-field mb-3" %>
            </div>
            <div class="field">
              <%= f.label :nome, class: "form-text" %>
              <%= f.text_field :firstname, required: true, autocomplete: "given-name", class: "form-field mb-3" %>
            </div>
            <div class="field">
              <%= f.label :cognome, class: "form-text" %>
              <%= f.text_field :lastname, required: true, autocomplete: "family-name", class: "form-field mb-3" %>
            </div>
            <div class="mt-3 mb-3">
              <label class="form-text">Select Fields:</label>
              <% Field.all.each do |field| %>
                <label class="checkbox-label">
                  <input type="checkbox" name="field_ids[]" value="<%= field.id %>">
                  <%= field.nome %>
                </label>
              <% end %>
            </div>
            <div class="field">
              <%= f.label :password, class: "form-text" %>
              <% if @minimum_password_length %>
              <em class="form-text">(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-field mb-3" %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation, class: "form-text" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-field" %>
            </div>
            <div class="actions mb-3 d-flex justify-content-center">
              <%= f.submit "Sign up", class: "btn-signup btn shadow rounded-pill btn-lg w-100 mb-2" %>
            </div>
          <% end %>
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
